@model KateRecipesV2.Models.Recipe

@{
    ViewBag.Title = "Detale";
}


<div>
    <hr />
    <dl class="form-inline">
        <content>
            @Html.DisplayFor(model => model.Name)
        </content>
     <dd>
            @if (Model.ImageData != null)
            {
                <img class="img-thumbnail" src="@Url.Action("GetImage", "Recipes", new { Model.Id })" />
            }
            else
            {
                <div class="form-control-static">Brak zdjęcia</div>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDescryption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescryption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Components)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Components)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Implementations)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Implementations)
        </dd>
    </dl>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Usuń", "Delete", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
